.card.is-post .content-wrap .post-image .masonry-grid .fab-wrapper.is-comment,.card.is-post .content-wrap .post-image .fab-wrapper.is-comment {
    right: 65px;
}
.pageloader::before {
    background-color: #009fe3;
}
.pageloader::after {
background-color: rgb(125, 175, 254);
border: 3px solid rgb(26, 114, 255);
}
.chat-wrapper{
    position: fixed;
    top: 13%;
    height: 88%;
    z-index: 2!important;
}
.chat-wrapper .chat-inner .chat-action .chat-action-inner .control .compose-dropdown{
	right: 2%;
	left: inherit;
}
.chat-wrapper .chat-inner .chat-action .chat-action-inner .control .textarea{
	padding-left: 5px;
}
.mean-container .mean-bar{
	position: relative;
	top: -82px;
	z-index: 2;
}
.modal-content {
    margin-top: 0px!important;
}
@media screen and (min-width: 769px), print{
	.modal-content, .modal-card {
	    margin: 0 auto;
	    max-height: calc(100vh - 150px);
	    width: 640px;
	}
}
@media (max-width: 767px){
	.modal-content {
	    max-height: calc(100vh - 160px) !important;
	}
}
.cover-bg .avatar .pop-button{
	left: -30px
}
.cover-bg .avatar .avatar-image{
	height: 150px!important;
	width: 150px!important;
}
.cover-bg .avatar{
	width: 100%
}
.cover-bg .avatar .avatar-button {
    left: 75%;
}
.cover-bg .avatar .avatar-button.is-active {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}