.btn{
    padding: 10px 20px;	
}
.btn-dark{
	background: #000;
    color: #fff;
}
.btn-dark:hover{
	background: #009fe3;
}
.btn-default{
	background: #009fe3;
    color: #fff;
}
.btn-default:hover{
	background: #000;
}
.text-center{
	text-align: center;
}
.w-100{
	width: 100%;
}
.widget-header h4 {
    margin-top: 0px;
    background-color: #009fe3;
    color: #ffffff;
    font-family: "Cormorant", Arial, Helvetica, serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    padding: 16px 24px;
    text-align: center;
    min-width: 140px;
}
.overlay{
	background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width:100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  opacity: 0.7
}
.main-sidebar .widget-sidebar .widget-header h4{
	background-color: #009fe3;
    font-size: 18px;
}
.main-sidebar .categories ul.categories li a{
	font-size: 18px;
}
footer ul.footer-social-icons li a{
	font-size: 16px
}
footer{
	padding-top: 20px;
}
.text-white{
	color: #fff;
}
.course-img{
	height: 150px;
    object-fit: cover;
}
.contact-me .widget-sidebar {
    background: #ffffff30;
}
.instructor-form .form-group input, .form-group textarea{
	height: 50px;
}
.form-group.single-input span {
    left: 13%;
    top: 2%;
    color: #666;
}
p,a{
	font-size: 18px;
}
.down-content p{
	margin-bottom: 10px!important;
}
body, p,h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant", Arial, Helvetica, serif;
  color: #000; 
}