.modal-backdrop.in{
    display: none!important;
}
.reply{
	max-width: 80%;
    margin: 0 auto;
    display: none;
    /*background: rgba(204, 204, 204, .4);*/
}
.blog_comment div div.mr-2{
	min-width: 50px;
    height: auto;
}
.comment_reply{
    max-width: 80%;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 5px;
    display: none;
}
.loadReply{
	border-radius: 50%;
	padding: 6px 11px;
}
.form-control{
    height: 37px
}
.comm-img{
    height: 400px;
    object-fit: cover;
}
p {
    margin-bottom: 1em!important;
}
.sina-nav .sina-menu.sina-menu-center{
    margin-top: 1rem!important;
    align-items: center;
    display: flex;
}
#hero_in .wrapper .container{
        display: flex;
    justify-content: center;
    align-items: center;
}
.comment-send{
    height: 37px;
}