html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: HCo Gotham Rounded SSm, sans-serif!important
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Light_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Light_Web.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Book_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Book_Web.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Medium_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Medium_Web.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Bold_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Bold_Web.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block
}
.navbar-default .navbar-nav > li > a{
    color: #222!important;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #009fe3!important;
}
.navbar-default .navbar-nav > li > a.btn-login{
	padding: 5px 15px 5px 15px!important;
    color: #009fe3!important;
    background: transparent!important;
    border: 2px solid #009fe3!important;
    border-radius: 5px;
}
.navbar-default .navbar-nav > li > a.btn-login:hover{
    color: #fff!important;
    background: #009fe3!important;
}
.btn-login-dark{
	padding: 5px 15px 5px 15px!important;
    color: #000!important;
    background: transparent!important;
    border: 2px solid #000!important;
    border-radius: 5px;
}
.guide-column h3:before, .guide-column .h3:before{
    display: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bg-login{
    background: url(../images/bg-login.jpg);
    margin: 0;
    background-size: cover;
    width: 100%;
}
.reg-sel > .chosen-container{
    width: 100%!important;
}
.popular-post .post-heading{
    min-height: 70px;
}
.popular-posts-block .btns-wrap .btn{
        font-size: 12px;
}



